<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./public/favicon.png">

    <title>Bali Heritage</title>
</head>
<body>
    <header>
        <div class="hamburger">
            <button>☰</button>
        </div>
        <div class="logo-wrap">
            <div class="logo"></div>
            <h1>Bali Heritage</h1>
        </div>
        <nav>
            <ul>
              <li><a href="#/beranda">Beranda</a></li>
              <li><a href="#/kesenian">Kesenian</a></li>
              <li><a href="#/event">Event</a></li>
              <li><a href="#/tentangKami">Tentang Kami</a></li>
            </ul>
          </nav>
    </header>
    <main>   
    </main>
    <footer>
        <div class="logo-wrap">
        <p class="note">Copyright © 2023 Bali Heritage | All Rights Reserved </p>
        </div>
    </footer>    
</body>
</html>